@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}
* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  background-color: rgb(8, 8, 24);
  color: var(--White);
}

p,
span {
  color: var(--LightGrey);
}

.card {
  background-image: linear-gradient(var(--DarkBlue), var(--VeryDarkBlue));
  height: 400px;
  width: 350px;
  border-radius: 10px;
}
.container {
  width: 260px;
  padding: 0 20px;
  margin: 20px;
}
.star {
  background-color: var(--DarkBlue);
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 20px 0;
  padding: 20px 0 15px 0;
}
.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating span {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width:50px;
  height:50px;
  border-radius: 100%;
  background-color: var(--DarkBlue);
  margin: 1px;
  aspect-ratio: 1/1;
}

button{
    background-color: var(--Orange);
    border: none;
    color: var(--White);
    border-radius: 50px;
    width: 250px;
    padding: 10px;
    font-size: 14px;
}
.image{
    background-image: url(./images/illustration-thank-you.svg);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}